[Unit]
Description=MTProxygo Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/mtproxygo
ExecStart=/var/mtproxygo/mtproxygo -c /var/mtproxy/config.ini
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
